.container{
    margin:25px;
    padding: 25px;
    background-color: #000000;
    border: blue;
    border-radius: 10px;
    border-width: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title{
    font-size: 35px;
    color: aliceblue;
}


.desc{
    color: aliceblue;
    display: block;
    font-size: 25px;
}
